.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.va-wrapper {
  @include size(100%);
  display: table;
}

.va-cell {
  @include size(100%);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
